body {
    font-family: roboto, -apple-system, BlinkMacSystemFont,'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
display: flex;
flex-direction: row;
align-items: center;
background-color: #1f2937;
color: #F9FAF8;
padding: 8px;
}

.main-content {
display: flex;
flex-direction: column;
}

.top-hero {
display: flex;
flex-direction: row;
background-color: #1f2937;
color: #F9FAF8;
padding: 15px;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-images {

}

.image-container {

}

.image-text {

}

.testimonial {
 background-color: #e5e7eb;
}

.call-to-action {
background-color: #3882f6
}

u {
    display: flex;
    margin-left: auto;
}

li {
    list-style-type: none;
    padding: 5px;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
}