body {
    font-family: roboto, -apple-system, BlinkMacSystemFont,'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
display: flex;
flex-direction: row;
align-items: center;
background-color: #1f2937;
color: #F9FAF8;
}

.main-content {

}

.top-hero {

}

.introduction {

}

.main-image {

}

.information-images {

}

.image-container {

}

.image-text {

}

.testimonial {

}

.call-to-action {

}

u {
    display: flex;
    margin-left: auto;
}

li {
    list-style-type: none;
    padding: 5px;
}

.footer {

}